<div class="card shadow-sm border-light">
  <div class="card-body">
    <h3 class="card-title text-center mb-3"><strong><%= @event.title %></strong></h3>
    <% if logged_in? %>
      <div class="d-flex justify-content-end">
        <% if current_user.favorites.exists?(event_id: @event.id) %>
          <%= link_to user_event_favorite_path(current_user, @event, current_user.favorites.find_by(event_id: @event.id)),
                      data: { "turbo-method": :delete } do %>
            <%= image_tag "star-fill.svg", alt: "お気に入り解除", width: 24, height: 24, class: "me-2" %>
          <% end %>
        <% else %>
          <%= link_to user_event_favorites_path(current_user, @event),
                      data: { "turbo-method": :post } do %>
            <%= image_tag "star.svg", alt: "お気に入り登録", width: 24, height: 24, class: "me-2" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <hr>

    <p class="card-text mt-3"><%= simple_format(@event.description) %></p>

    <div class="mt-4">
      <p><strong>開催日時:</strong> <%= @event.start_time.strftime("%Y年%m月%d日 %H:%M") %></p>
      <p><strong>開催場所:</strong> <%= @event.location %></p>
      <% if @event.category.present? %>
        <p><strong>カテゴリー:</strong> <%= @event.category.name %></p>
      <% end %>
    </div>

    <% if @event.user == current_user %>
      <div class="d-flex justify-content-end mt-4">
        <%= link_to "編集", edit_user_event_path(@event.user, @event), class: "btn btn-warning me-2" %>
        <%= link_to "削除", user_event_path(@event.user, @event), class: "btn btn-danger",
                        data: { "turbo-method": :delete, turbo_confirm: "本当に削除しますか？" } %>
      </div>      
    <% end %>
  </div>
</div>
